<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <Center><header style="color=red"> <h1> Welcome to my 2nd django project </h1> </header>
      <br>
      <p> My name is Aishwarya. I have used Django3 and python 3.8 to create this project called password generator. </p>
      <p><br>
      <p> You can choose however you want the password to be. </p>
      <p> The password could only consist of alphbets or numbers or special characters or mix of all. </p>
      <p> Thank you for visiting my page. </p>
      </center>
      <center><a href='{% url 'home' %}'><button type="submit">Back to Home </button></a></center>
  </body>
</html>
